[2019-12-18 20:59] SubhamoyS opened #655 "Using with large Autotools projects"
# System info: #
- Sublime Text version: `3211`
- Which system are you on: `Ubuntu 19.10 x86-64`
- Clang version: `9.0.0`

# What happens:  #

I am trying to use my favourite autocompletion plugin, which is this one, with the codebase I work with: Mozilla Firefox.

## Steps to reproduce: ##

With Mercurial installed:

[code]

I open this directory in sublime text and open some C++ files from rando

[2019-12-19 13:04] niosus commented on #655
Hey, thanks for posting! Strange. These lines look weird:

[code]

It looks like it cannot find a compilation database. Is it in the provided folder?

[2019-12-19 13:05] niosus commented on #654
I don't currently have a mac to test these things. If you are willing to put some time into that, I would be happy to look at a PR that implements this. :wink:

[2019-12-19 13:45] guinzoo commented on #654
I've created [pull request](https://github.com/niosus/EasyClangComplete/pull/656). Seems it has some errors in python2.7, but I don't have much experience with python. Later I will try to create a command to generate db from xcode.

[2019-12-19 15:55] SubhamoyS commented on #655
On my current try, I see that it finds the file, but when I try to autocomplete, I see "no suggestions". Also, the include paths being passed are wrong. I do not want to pass default system paths, but toolchain paths. which I added to `common_flags`. But I do not see those being passed.

Perhaps my settings are faulty?

![Screenshot at 2019-12-19 16-48-36 png](https://user-images.githubusercontent

[2019-12-20 09:56] SubhamoyS commented on #655
The following settings have given me autocomplete, but at a very high cost:

[code]

The difference with the config I shared before are:

1. There are no symlinks there any more.
2. `use_libclang` is set to false.

Now, when I open the project root in sublime text, indexing (indicated by the moon-phase animation bottom left) never stops, even if I do not try to type anything (lazy completion is on

[2019-12-20 11:20] jingyuexing opened #657 "Can't work in Cpp files"
# System info: #
- Sublime Text version: `3211`
- Which system are you on: `windows`
- Clang version: `9.0.0`

# What happens:  #
can't work in CPP files,just C files

<details>
<summary>Log that illustrates the issue: </summary>

[code]

</details>

[2019-12-21 03:49] jingyuexing commented on #657
<details>
<summary>Log that illustrates the issue: </summary>

[code]

</details>

[2019-12-21 08:15] niosus commented on #657
Could you please follow the instructions in the issue template and provide a verbose log? Your log is not verbose and I need more information to be able to help.

[2019-12-22 07:42] jingyuexing commented on #657
<summary>Log that illustrates the issue: </summary>

[code]
</details>

[2019-12-22 14:23] niosus commented on #657
That is still not a verbose log. Please set `verbose` setting to `true` and try again.

[2019-12-22 14:28] jingyuexing commented on #657
thanks!

[2019-12-22 14:51] jingyuexing commented on #657
when i open the cpp files,show me log like this
<details>
<summary>Log that illustrates the issue: </summary>

[code]

</details>

### ECC does nothing for language syntax: 'Rcpp'

[2019-12-23 17:47] guinzoo commented on #654
Can be related to #653
I use such settings and everything works fine:
[code]

[2020-01-07 16:34] NeatNit opened #658 "How to configure for template implementation?"
# System info: #
- Sublime Text version: `3.2.2`
- Which system are you on: `Linux`
- Clang version: `6.0.0`

# What happens:  #
I've gotten lost in the manual a few times trying to figure this out, and I'm nowhere closer.

I'm working on a school assignment where I have to implement a generic class. Since [templates must be implemented in header files](https://stackoverflow.com/questions/495021/w

[2020-01-10 08:34] niosus commented on #658
There is no way to configure ECC to deal with that and it is not an issue of the plugin. You question is much more related to understanding C++ than to this plugin itself.

You will be able to navigate your `Foo.h` file albeit missing the completions of anything related to the template type T, and ECC won't be able to do anything in `FooImp.h`. Let me explain why.

- In `Foo.h` you have no idea wh

[2020-01-10 08:34] #658 closed

[2020-01-10 08:39] niosus commented on #657
Sorry for the delay. It seems you are using a different language syntax. You can add it to the valid language syntaxes. For that please update a setting of the plugin:
[code]

I will close this issue. Feel free to reopen it if it doesn't solve your problem.

[2020-01-10 08:39] #657 closed

[2020-01-10 09:30] NeatNit commented on #658
Thank you for the detailed answer.

I understand what you're saying, but ECC can still (hopefully?) help with completions of other things, like usage of the standard library. At the very least, it can tell you about syntax errors.

Yeah, guessing would make no sense here, but that's exactly why I asked about how to *configure* ECC to do this. Each user can tell ECC how to know which file goes wher

[2020-01-10 10:38] niosus commented on #658
This should work in the `Foo.h` header file as soon as no template argument is involved.

I'd say that while it might fit your workflow there is no general workflow like this. The best way is to either implement the template library with explicit instantiations for the types you expect in a `cpp` file or just ignore the files like `FooImp.h` in ECC.

[2020-01-12 11:50] niosus commented on #655
Yeah, when you don't use libclang the things get much more expensive. At this point I don't really understand what is wrong. I will try to reproduce this locally.

[2020-01-12 16:13] niosus commented on #651
Ok, I see the issue. We could probably add a new subsetting under the `target_compilers` setting to allow for flags there. I will try to have a look. If you want to try your hand in this - fell free to throw a PR at me.

[2020-01-12 23:56] saagarjha commented on #653
I have

[code]

in my configuration to deal with the latter issue. But back on topic, can you just not import those headers at all? I was having some issues with modules, but for me it largely went away if I had them off. Are you seeing them in both cases?

[2020-01-29 22:40] #643 closed

[2020-01-30 15:41] tomeksowi commented on #653
@saagarjha, I was unaware of "popup_maximum_*". Decreasing it worked, thank you.

As for the main issue, `CAMetalLayer` is a necessary link between Cocoa and Metal. I can't eschew it, unfortunately.

As for turning off modules and replacing `@import` with regular `#import <header>`, ECC does parse `CAMetalLayer` correctly. However, it slows down the compilation noticeably so I'd rather not do it.

[2020-02-02 13:29] niosus commented on #655
I tried to build it locally, but I am not familiar with the setup, so I don't think I will be able to fully reproduce this. Could you maybe tell me how big is the compilation database?

[2020-02-02 13:32] niosus commented on #650
Well, while I understand what you want I am hesitant to spend time on this as I doubt this will actually add much value. In C++ most errors after the first one are garbage anyway, so ideally, you should rebuild the file after fixing the first one.

[2020-02-02 13:42] niosus commented on #653
Unfortunately, beyond fixing the above issues I don't know how I could help. I am by far not an expert in Objective C and the whole Objective C implementation was a contribution. :man_shrugging:

Sorry about that

[2020-02-02 13:44] niosus commented on #644
Could you maybe try to change the setting `use_default_definitions` to `false` and to remove the `"-stdlib=libc++"` from your `CPP` options? It is really weird, because your example should be working out of the box and it is also checked in the unit tests.

[2020-02-02 13:55] niosus commented on #654
As described in the PR, I guess I will have to close this issue as I won't be able to support it even once its merged and I guess it is possible to perform these actions outside of the plugin and to use the resulting compilation database with ECC afterwards.

[2020-02-02 13:55] #654 closed

[2020-02-02 16:12] #639 closed

[2020-02-03 07:41] zhiayang commented on #650
Hmm, that isn't always the case, but I can understand your hesitation? Does ECC currently have a command to just jump to the first error then?

[2020-02-03 09:41] SubhamoyS commented on #655
Compiling can be a bit tricky, yes. I was under the impression that compiling firefox would actually not be necessary to reproduce this problem, because all we really want is `compile_commands.json`. I have included the commands to do that in the original post. Did it not work?

[2020-02-03 16:05] chalizardmisadon opened #661 "Error highlight is now white instead of red"
As of the new commit, error outline / highlight is now in white instead of red. Can you add an option to either:
- allow the user to specify the specific error highlight color?
- or just link the error highlight color to "misspelling" color in ColorScheme-Default/*.sublime-color-scheme

Regardless, thank you for this plugins. Really helps me out in my day to day work.

[2020-02-03 16:34] niosus commented on #661
Oops, this is definitely not intended. I thought if I provide an unknown syntax it will just show png as is and those are colored by default. I will look into that. Thanks for the idea with `misspelling`.

[2020-02-03 16:43] niosus commented on #661
Are you by any change using a light scheme? I just looked into it and I still see the errors as black in light schemes, but as red in dark schemes.

[2020-02-03 16:48] niosus commented on #650
I believe the top-most entry when showing all errors is the first one.

[2020-02-03 17:02] chalizardmisadon commented on #661
I am currently using Monokai.sublime-color-scheme. The quick fix I have is to add the color scheme for the scope "undefined" within "rules" inside Monokai.sublime-color-scheme
[code]

[2020-02-03 17:07] chalizardmisadon commented on #661
I added the quick fix based on the example:
https://www.sublimetext.com/docs/3/color_schemes.html#scope_rules

[2020-02-04 09:52] Lancelot-0 commented on #661
The issue commes with the change at *line 27* of `plugin/error_vis/popup_error_vis.py `
`    _ERROR_SCOPE = "undefined"`, and undefined is not always a scope depending of color schemes, while `"invalid.illegal"` was a valid entry

[2020-02-04 10:30] YesserLab commented on #640
I've had a look at the code, I think it's not so hard to implement ... I'll give it a try and post a PR. Otherwise this is an awesome plugin ;)

[2020-02-11 07:05] Andreasdahlberg opened #662 "Permission error on multi-user system"
# System info: #
- Sublime Text version: `3211`
- Which system are you on: `RHEL 7.7`
- Clang version: `8.0.0`

# What happens:  #
I am trying to use EasyClangComplete(great plugin!) on a multi-user system but as soon as a second user starts Sublime that user gets a permission error(see log below).

The cause seems to be that all users share _/tmp/_ and EasyClangComplete creates temporary files
wi

[2020-02-18 14:49] asheeshr commented on #484
I have the same question. Is there any way to get enum completions to work in plain C and not C++?

[2020-02-18 17:27] niosus commented on #661
I've looked a bit closer into the issue and that got me even more confused. On my system, I see the color perfectly fine in all the dark themes.
![image](https://user-images.githubusercontent.com/1893598/74761093-b89d6800-527b-11ea-8648-fad86ef9b24c.png)

Surprizingly, light themes show me just black outlines. All of them.

The `undefined` scope was chosen on purpose. The docs say, that the icon w

[2020-02-18 17:31] niosus commented on #662
Thanks for submitting this! I never had this usecase but will think of something in the coming days.

[2020-03-04 15:52] matreshkin opened #664 "Ability to make relative path for ecc_clang_binary"
# System info: #
- Sublime Text version: `3210`
- Which system are you on: `Ubuntu 18`
- Clang version: `7.0.0`

# What happens:  #
I am not able to point a relative path to `ecc_clang_binary` in my .sublime-project settings.
Meanwhile:
- Full path of  `ecc_clang_binary` works
- Relative path for `ecc_libclang_path` also works.
[code]

<details>
<summary>Log that illustrates the issue: </summary>

[2020-03-04 16:07] matreshkin opened #665 "Compilation fails when file name is not the last in the command entry of the compilation database"
# System info: #
- Sublime Text version: 3210
- Which system are you on: Ubuntu 18
- Clang version: 7.0.0

# What happens:  #
Cannot detect a reason of the error while compileing with libclang and custom combdb target.
Project settings:
[code]
Meanwhile:
- using clang binary works (```"ecc_use_libclang" : false,  "ecc_show_type_info": false,```)

I cannot show the compiler flags since NDA reasons,

[2020-03-04 17:05] niosus commented on #664
Hmm, strange, I was sure I parse the paths. That might be the result of my last update. I will try to have a look tomorrow.

[2020-03-04 17:22] niosus commented on #665
Usually this means that some of the flags are malformed. Are you using any common flags? Are you sure all -I flags actually have the -I prefix before them?

Debugging this kind of issues is hard. What I usually do is:
- As the first step, call "show all errors" command and see the first one. It might give some hints on what is happening. Usually, this type of errors comes from some gcc/clang/<your

[2020-03-05 08:33] #664 closed

[2020-03-05 08:44] niosus commented on #664
Will be available in v.6.2.4 in about an hour :wink:

[2020-03-05 10:11] matreshkin commented on #664
Wow, so fast) Thanks a lot, it works now.

[2020-03-05 11:56] matreshkin commented on #665
Thanks for the reply,
I managed to compile the file with libclang after I moved out the source file path itself from compiler flags.
i.e. was :
[code]
and became
[code]
Now the parsing error is gone and libclang can continue parsing.
Is it as intended or there may be another bug somewhere?

I got a lot of 'not found' errors after having compilation work, so the source path in flags might not be th

[2020-03-05 12:05] matreshkin commented on #665
That problem was caused by use_default_includes=false. All requiered pathes are in the flags (and they are properly used by `clang_binary`), thus I can create another bug if it sounds sensible.

[2020-03-05 17:51] niosus commented on #665
Ah, so if I understand correctly, the issue was that the `*.cc` file was not the last one in the command?

[2020-03-05 17:51] niosus commented on #664
Glad it works :)

[2020-03-10 07:00] matreshkin commented on #665
The issue was that .cc file WAS in the command. Just removing file fixed compilation.
I'll check whether moving it after all flags helps.

[2020-03-11 18:30] niosus commented on #665
Well, the cc file should always be in the command as otherwise it is malformed. I might need to implement a more robust way of detecting the compiled file, e.g. it doesn't have any prefix in front if it, but this might take some time to implement.

[2020-03-11 22:54] niosus commented on #665
Also, an important question @matreshkin: does the file in the `command` line have exactly the same path as the one in `file` entry? I am thinking of an easier way to filter that one out.

[2020-03-12 00:21] niosus commented on #665
Also, would you mind testing if PR #673 does the trick for you?

[2020-03-13 22:28] asheeshr opened #675 "Error highlighting is off by one line."
![ecc_error_wrong_line](https://user-images.githubusercontent.com/1908945/76663311-f88ffc00-6556-11ea-81d1-856931df8b86.gif)

--------------------------------------------------------------

# System info: #
- Sublime Text version: `ST3 Build 3211`
- Which system are you on: `Ubuntu 16.04`
- Clang version: `3.8.0-2ubuntu4`

# What happens:  #
Error highlighting is off by one line.

[sublime.log](ht

[2020-03-14 08:05] niosus commented on #675
Yep, I'm already on it. Will release the fix later today.

[2020-03-14 11:18] #662 closed

[2020-03-14 11:20] niosus commented on #675
Fixed in #674 and will be release in about half an hour.

[2020-03-14 11:20] #675 closed

[2020-03-14 11:20] niosus commented on #665
Should be fixed in the above-mentioned PR. Please reopen if there is still problem with it.

[2020-03-14 11:20] #665 closed

[2020-03-15 11:41] firesense opened #677 "Files of form `/User/smth` are parsed as flag which breaks compilation"
# System info: #
- Sublime Text version: `3.2.2, Build 3211`
- Which system are you on: `macOS Catalina 10.15.3`
- Clang version: `11`

# What happens:  #
After installing (updating) EasyClangComplete v.6.2.6 to v.6.2.7, the EasyClangComplete package stopped working and gives the following error:

[ECC: WARNING]: OSX version 11.0 reported. Reducing it to 7.0.
[ECC: INFO]: Found clang version 7.0
[

[2020-03-16 10:16] niosus commented on #677
I think I see the issue...
[code]
Somehow this flag was separated instead of being ignored. I will see what I can do about this.

[2020-03-16 10:43] #677 closed

[2020-03-16 10:46] niosus commented on #677
Should be fixed in v.6.2.8, which is going to be available in about half an hour or so.

[2020-03-18 06:10] hliu1020 opened #680 "Crash when editing codes"
# System info: #
- Sublime Text version: `3.2.2, Build 3211`
- Which system are you on: `macOS Catalina`
- Clang version: `Apple clang version 11.0.0 (clang-1100.0.33.8)`

# What happens:  #
The plugin crashed when editing code. It always happens if editing some codes at the same time when the `moon` progressing icon appears (it seems the plugin is busily handling last edited code)

<details>
<sum

[2020-03-18 07:49] niosus commented on #680
Thanks for reporting. This is very strange. Is it a new behavior or did it also happen before? Also, please provide a full log do that I could have some more information on this.

[2020-03-18 08:22] hliu1020 commented on #680
It also happened before time to time, especially when editing during the progress of the plugin busy handling for last edited code (the `moon` progressing icon is running). I think maybe my modifying conflicts with something. I attach all the verbose logs before crash-restarting and hope it helps

.
[st3_crash.log](https://github.com/niosus/EasyClangComplete/files/4347777/st3_crash.log)

[2020-03-19 09:44] niosus commented on #680
It should not be the case as everything is handled in an asynchronous manner and I tried to make sure that we never access `libclang` concurrently, which could cause the failure. I will try to have a deeper look into this.

[2020-03-19 09:50] niosus commented on #680
Looking at your log it doesn't seem to happen all the time. Does it only happen on a specific project? Is there a small test project where you could reproduce this? Does it only happen on a MacOS? Is there a specific action that you do that causes it or does it just happen in different places in the code randomly when you edit the code?

[2020-03-24 16:49] Glymse opened #683 "ECC dosent work when including hpp files."
Hi, so im trying to get ECC to work, and it kinda is,
but when i include header files with #include the program stops working, im using windows 10 with mingw and LLVM. (Im sorry if this is a configuration issue, but im relatively new to sublime)

**System**
Sublime: 3.2.2
OS: Windows 10
Clang: 9.0.0

**Examples:**
Without header:
![image](https://user-images.githubusercontent.com/31343658/77452822

[2020-03-25 09:23] matreshkin commented on #665
Sorry for not responding - I've been extremely busy recently.
Now the compilation is done (there are still many "Not found" problems though that I'll investigate later).

Thanks a lot again, answers and fixes are just invaluable for all us

[2020-03-25 09:33] niosus commented on #665
No worries. Feel free to reopen if you still see the issues.

[2020-03-26 01:03] niosus commented on #683
Please reformat the issue in the format requested in here: https://github.com/niosus/EasyClangComplete/blob/master/.github/ISSUE_TEMPLATE.md

When this is done - feel free to reopen. Issues are an important source of information for the users. This is why I really want to keep them formatted in a proper way.

[2020-03-26 01:03] #683 closed

[2020-03-26 10:09] Glymse opened #684 "MinGW doesn't seem to work out of the box"
# System info: #
- Sublime Text version: `3.2.2`
- Which system are you on: `Windows 10`
- Clang version: `9.2.0`

# What happens:  #
When i include header files from the STL headers from minGW , the program stops working.

![image](https://user-images.githubusercontent.com/31343658/77634381-214dc380-6f51-11ea-8ed4-ebdc024ee534.png)

**Project settings:**
![image](https://user-images.githubusercon

[2020-03-26 17:11] Glymse commented on #684
**UPDATE: I FIXED THE PROBLEM!**
It had nothing to do with my configuration,
eventually after searching for the problem the last few days i installed visual studio, and now it seems to work.

[2020-03-26 22:39] niosus commented on #684
So, when you have visual studio installed the plugin should definitely work out of the box, as this is the thing that we test in the unit tests. I still don't like that MinGW doesn't work out of the box. Maybe if I find the time, I will create another Windows CI build that will check the plugin against mingw installation...

[2020-03-31 06:26] abadcafe opened #686 "How can I know which header files was absent in my project?"
If some header files missing in ".clang_complete", the plugin maybe give wrong completions.

How can I know which header files was absent in my project without cmake or something similar? Because my project just has a simple Makefile.

Are there some shortcuts or commands can help? thanks.

[2020-03-31 09:00] niosus commented on #686
Not that I know of. Basically, if you use files like `.clang_complete` you are basically saying that you know what you're doing and know the exact configuration of your project. If you don't want to care, I would say that using CMake or Bazel would be preferable as they both allow to generate a compilation database that can be used by the plugin. I will close this, as this is slightly tangential t

[2020-03-31 09:00] #686 closed

[2020-04-04 08:50] #644 closed

[2020-04-04 08:50] #661 closed

[2020-04-13 16:00] #650 closed

[2020-04-13 21:51] brupelo commented on #680
I've started to use the package few minutes ago and I've also experienced this crash, ie:

![showcase](https://bit.ly/2XJsVOz)

Unfortunately I haven't been able to reproduce it consistently (just couple of times and I'm not sure what was the reason of the crash), my specs below:

[code]

Also... one question, although I'd probably open a different issue for this one... but, what does this mean?

[2020-04-14 19:13] niosus commented on #680
Hey @brupelo thanks for the info. So the trace with the settings storage looks like an artifact after an update. It should not happen after a restart.

The plugin should work out of the box on your setup, you're right. Can you please enable `verbose` and upload a screenshot if it crashes on you again here? This is weird and usually has something to do with how we interface with libclang.

You can

[2020-04-14 20:20] brupelo commented on #680
Hey @niosus , thanks for the fast response, sure thing... I realize now my previous report wasn't very helpful to you but I didn't know better at that time... so hopefully next time I'll be able to provide a better issue with more insightful info, from now on I'll have the verbose enabled but just to confirm... If I've understood correctly I should edit my .sublime-project with something like this

[2020-04-15 18:06] matreshkin commented on #665
Eventually, the problem is still in `use_default_includes=false`. With 'use_default_includes=true', libclang variant gives the same result as clang_binary does (and which is the expected behavior).
And I am not sure whether it is a bug or not.

I looked at the description of 'use_default_includes' but I haven't got the idea and why it it can be needed. I suspect, some pre-work is done for libclang

[2020-04-18 21:27] niosus commented on #680
@brupelo you need to prefix the ECC-related settings with `ecc_` if you are specifying them in the project-specific settings, so `verbose` would be `ecc_verbose`.

Generally no. The folders are just for sublime to manage the files and folders in the sidebar and internal index. ECC does not care about those. The project is just needed to get the proper settings to each view (file). ECC only cares a

[2020-04-18 21:35] niosus commented on #665
So do I understand correctly, that now it works for you?

I am a bit confused about your message, as the `"use_default_includes"` is by default `true` :thinking:

The flag is basically only there to allow people who know exactly which set of flags they want to achieve to actually get that set of flags with no default flags added to the command line. It should generally remain untouched.

[2020-04-20 18:50] matreshkin commented on #665
Everything is allright then)
I turned it off while was fightening the original problem.
If "use_default_includes" must be True and shouldn't be nomally touched, then there is no  issue at all and libclang variant works as expected.
Thanks:)

[2020-04-21 10:18] niosus commented on #665
Happy to hear that!

[2020-04-24 13:52] septag opened #698 "Getting function pointer arguments"
- Sublime Text version: 3.2.2 (3211)
- Which system are you on: windows
- Clang version: clang-cl 10.0.0 (modified compile_commands.json)

Hi,

First of all, thanks for your great plugin.
I was wondering, if it's possible to have intellisense for function pointers ?
I have a lot of functions that reside inside structs as function pointers (interface structs)

[code]

but code complete only suggest

[2020-04-28 07:21] hliu1020 commented on #680
Sorry for my later response. I think it happens often but not every time when editing code during ECC index rebuilding (when the moon icon appears after editing).
Because I am developing Linux application at macos  so I have a Linux Ubuntu docker mapping the project directory to the container. Each time I build I will run "make" ("cmake" before that) in the Linux docker container. I don't know  wh

[2020-04-28 21:41] niosus commented on #680
Oh, this is a complex setup. It might have something to do with which libclang library we get bound to, but this is a wild guess. I would need a reproducible example to understand this. Sorry that it is not the answer you were hoping for...

[2020-04-30 14:03] dzpt opened #699 "Wrong default autocomplete item"
The autocompletion popup doesn't start from beginning item
<img width="415" alt="Screen Shot 2020-04-30 at 20 58 15" src="https://user-images.githubusercontent.com/5781080/80719568-de6da580-8b25-11ea-80d9-6c5859870e8a.png">

It's supposed to be like this.
<img width="409" alt="Screen Shot 2020-04-30 at 21 03 01" src="https://user-images.githubusercontent.com/5781080/80719690-0957f980-8b26-11ea-835

[2020-05-01 18:25] niosus commented on #699
Hey @dzpt if you are referring to the order of the currently highlighted entry, there is little I can do on my side, sublime does its magic there on its own as far as I know. You could try to disable the default completions leaving only ECC ones if those are available in the settings of the plugin.
I will close this issue as it seems like it's not on my side.

[2020-05-01 18:25] #699 closed

[2020-05-01 18:34] niosus commented on #698
I believe there is nothing on my side I can do. I will check if I'm not clearing any output of libclang, but if it does not provide this, I will not be able to add this, sorry.

[2020-05-02 16:04] gavriil07 opened #701 "ignore_list argument does not work"
# System info: #
- Sublime Text version: `3211`
- Which system are you on: `Ubuntu 20.04`
- Clang version: `10.0.0-4ubuntu1`

# What happens:  #
ignore_list argument does not seem to have any effect.

<details>
<summary>Details</summary>

![Tooltip_001](https://user-images.githubusercontent.com/28069262/80869044-c1acab80-8ca6-11ea-9275-fd6a46de7460.png)

![Selection_002](https://user-images.github

[2020-05-02 17:23] niosus commented on #701
I'm sorry if this was not clear in the documentation. It has unfortunately nothing to do with the issues you are experiencing.  Your errors come from the fact that the file you have opened has includes that don't exist and it is a compilation error as it should be. The setting you are referring to is there to not trigger the plugin if you open a file that matches the pattern. In this case, ECC wil

[2020-05-02 17:23] #701 closed

[2020-05-04 11:58] septag commented on #698
alright. thanks

[2020-05-04 11:58] #698 closed

[2020-05-05 18:20] lulle2007200 commented on #651
Sent PR

[2020-05-06 19:05] jdumas opened #704 "Improve automatic header_to_source_mapping"
# System info: #
- Sublime Text version: `3.2.2`
- Which system are you on: `macOS`
- Clang version: `AppleClang 11.0.3`

# What happens:  #

I am working on a project which relies heavily on templates and is mostly header-only. Thus, using EasyClangComplete on those header files is a pain, because there isn't always a matching translation unit in the `compile_commands.json` where to get compilati

[2020-05-08 14:21] matreshkin opened #705 "Ability to turn off or manually restrict 'include auto completion' feature"
# System info: #
- Sublime Text version: 3210
- Which system are you on: Ubuntu 16.04
- Clang version: 7

# What happens:  #
Keeping admiring the plugin, I have a few perf issues. One of them is related to includes.

I'm working on a project inside a large repo and my files can #includes files from other projects.
Specifically, there almost always are -I flag with root repo path in compiler flags.

[2020-05-09 10:24] kiwec commented on #445
Workaround for the lazy (like me) :

- Set the following :

[code]

- Add a clang-wsl.bat to your PATH containing :
[code]

[2020-05-09 11:01] niosus commented on #705
Yes, this feature is a bit half-baked and you raise a valid point. I was sure that I allow turning this off, but apparently not. Will add a switch. If you have ideas on how to implement this better feel free to contribute or just start a discussion in a new issue.

[2020-05-09 11:13] niosus commented on #704
As you probably know there is already a setting:
[code]

This will force the plugin to search for files related to headers in the order provided in the setting. In this example, it will try to match exactly the same file name with source extensions in the same folder, then in `../src/` folder, then it would try to match *any* source file in `../src/` folder regardless of the name and finally if no

[2020-05-09 15:40] jdumas commented on #704
Unfortunately I don't think the `header_to_source_mapping` setting is working very well for me. I had a project with multiple modules under `src/` (`src/foo`, `src/bar`), each with their own set of include, and often no associated source files (only unit tests).

I have tried to run compdb manually and it actually works pretty well. Do you think that's something EasyClangComplete could integrate?

[2020-05-10 07:30] niosus commented on #704
As for header to source mapping, what I tend to do is just point in it to the tests folder usually. Not ideal but worked quite well in practice.

As for compd, sure, sounds like it could be added as an optional intermediate step. I did not try it and don't know how the configuration is done there, but I am open to it. The main issue is, again, time. 🤷‍♂️

[2020-05-10 07:45] jdumas commented on #704
Yes, except that I have multiple test folders per project (one per module), and they don't have the same set of dependencies.

Running compd from the command-line is pretty easy, as one just needs to do:
[code]
To generate a completed compilation database from the build folder generated by cmake. But yeah I understand that time is a premium for all of us. Let me know if you ever get around to look

[2020-05-12 14:17] matreshkin commented on #705
Thanks!

By the way, does this feature reads all the compile_commands.json to fill the folder list? Is it on plugin startup or at the moment autocompletion starts?

[2020-05-12 14:27] matreshkin opened #706 "include autocomplete enhancement request"
Regarding https://github.com/niosus/EasyClangComplete/issues/705#issuecomment-627374600

For my personal case the following behavior would be perfect:

- the list of folders to search should respect the project structure. All folders that cannot be opened in sublime sidebar, have to be removed from the lookup pathes. I.e. I have `-I/repo/root` flag for all source files, but my project in sublime c

[2020-05-18 09:05] nkueng opened #707 "Lost in Setup on macOS"
# System info: #
- Sublime Text version: `3.2.2`
- Which system are you on: `macOS Catilina 10.15.4`
- Clang version: `Apple clang version 11.0.0 (clang-1100.0.33.12)`

# What happens:  #
First of all, I am very sorry for posting here. I find you, @niosus, have done a great job with the documentation, but it didn't work for my case (which it should according to the docs).
I would love to use ECC s

[2020-05-19 19:02] niosus commented on #707
Hmm, this looks like a bug to me. Sorry about that. Generally, you should not have to put the `Makefile` entry and just the `CMakeLists.txt` should be enough. But I see this error popping up:
[code]
which to me looks like a bug in the plugin. I will try to have a closer look as to why this happens on the weekend. It is strange that this is not caught by tests, though...

[2020-05-19 19:04] niosus commented on #704
I believe that even in your case you could still use the tests folders as the project still probably follows some structure right? In the header to source mapping you can always use relative paths. Or am I missing something?

Also, I will have a look into the compdb approach, but not sure when I will have the time to properly integrate this.

[2020-05-21 07:33] nkueng commented on #707
Thanks a lot for taking this seriously! I'm looking forward to your findings.

[2020-05-21 16:44] KirillGrigoriev opened #708 "The requested operation cannot be performed on a file with a user-mapped section open."
# System info: #
- Sublime Text version: `3.2.2 Build 3211`
- Which system are you on: `Microsoft Windows 10 `
- Clang version: `10.0.0`

# What happens:  #
Can't save a file, drops error message: "The requested operation cannot be performed on a file with a user-mapped section open.". After Sublime restart I able to save unsaved file, but after source and header change and save, sometimes problem

[2020-05-24 02:41] Firanolfind opened #709 "How to run this plugin?"
Hi,
I went through _Simple start in just 3 steps!_ for **Easy**ClangComplete, gone through half of a links in docs, and I still didn't get how it works. I got CMakeLists.txt and ".sublime-project". Should I configure sublime-project file? Are there any example of .sublime-project setup?
Docs are not straightforward on this, imo.

Thank you!

[2020-05-24 10:26] AdityaGupta150 commented on #709
For me, it was (on Linux)
1. Install clang
2. Clone this repo (or download the zip, and extract it to 'EasyClangComplete')
3. Move/Copy the EasyClangComplete directory to ~/.config/sublime-text-3/Packages

[2020-05-25 18:12] adi-g15 opened #710 "ECC:Info Box extends beyond screen"
--------------------------------------------------------------
# System info: #
- Sublime Text version: `Build 3211`
- Which system are you on: `Linux Mint 19.3 Cinnamon`
- Clang version: `6.0.0-1ubuntu2`

# What happens:  #
When hovering over some STL container use in code, in some cases, the ECC:Info Box content is not readable, due to the box extending beyond.
To Reproduce Problem - Hover over

[2020-05-29 10:46] nkueng commented on #707
Any news on this?

[2020-05-29 11:14] niosus commented on #707
Sorry @nkueng busy times at work. I keep this in mind, but I don't know when I would have the time. If you feel adventurous, feel free to dig in starting with the error I have pointed out.

[2020-06-09 20:55] niosus commented on #707
@nkueng I have looked through the code as to what causes the error you report and this happens if there is an entry in the `ecc_flags_sources` that is not one of the expected ones. In your case it is the makefile one. Does it work if you remove it from the settings and only leave the `CMakeLists.txt` entry?

[2020-06-09 20:57] niosus commented on #710
Yep, this is unfortunately expected and there is not much I can do about this. I'd say this is something that has to be fixed on the side of the library I use for popups: https://github.com/facelessuser/sublime-markdown-popups

[2020-06-09 20:59] niosus commented on #709
@Firanolfind you should set up absolutely nothing if you have a `CMakeLists.txt` file. The plugin should be working out of the box. If it does not, please open a different issue with the logs of what is happening. Sorry about this experience.

I will close this issue, but feel free to open a new one if something is still not working.

[2020-06-09 20:59] #709 closed

[2020-06-09 21:04] niosus commented on #708
I've seen this happen before on Windows and it means that the file is being used by different processes. Maybe the file is still in use by libclang and when you try to save it you encounter a lock. I am not really sure I can do anything about this on my side. At least for now I have no good idea what to do about it. Sorry about that.

[2020-06-13 22:02] Firanolfind commented on #709
Hi @niosus , I have no idea how but it suddenly started working! I am sorry for this issue, I was really frustrated at the beginning.
Thank you for this tool!

[2020-06-14 01:10] chetgnegy opened #711 "Cross platform bazel workspaces cause generate.sh to fail."
# System info:

Ubuntu 16.04
- Sublime Text version: Build 3126
other stuff probably not relevant, this is clearly a bazel+ecc problem. I'm running bazel 1.0.0 at the moment and I just downloaded ecc today.

# What happens:  #
When I try to generate compile_commands.json, it silently fails (which is less silent once I realize sublime has a console I never use, haha). The error message is kinda use

[2020-06-14 11:57] niosus commented on #711
Thanks for reporting this. I'm not sure how much I can do about this as I just call the script from [here](https://github.com/grailbio/bazel-compilation-database) without much modification.

[2020-06-14 11:57] niosus commented on #709
Great that it works for you!

[2020-06-14 17:33] chetgnegy commented on #711
If you're able to pass along the logs for generate.sh, that would be good enough, in my opinion. It probably doesn't make sense for you to take on all the things that could be complex about someone's build environment, but the fix is straightforward (and can be achieved without editing your code) once one knows what the problem is.

[2020-06-15 08:06] niosus commented on #711
Hmm, I though I already pass the logs. Will check that.

[2020-06-15 19:34] chetgnegy commented on #711
I got the error "TypeError: argument of type 'NoneType' is not iterable" which doesn't indicate the problem at all.

By the way, sorry my pasted log format is such a disaster. Let me take a take a stab at cleaning that up.

[2020-06-15 19:38] chetgnegy commented on #711
(for whatever reason the <details> and <code> tags strips out newlines. yikes.)

[2020-06-15 19:48] chetgnegy commented on #711
I'm gonna stop touching stuff now.

[2020-06-18 04:56] nkueng commented on #707
@niosus thanks for looking into this! When removing the makefile entry, I get the following console output indicating that ECC doesn't recognize the linking between the different CMakeLists.txt (my interpretation):

[code]

I do get some meaningful GUI tools from ECC. However, something like this should not show up, since simply `make`ing it doesn't cause any problems.

<img width="360" alt="Scree

[2020-06-18 06:26] niosus commented on #707
Ok, I See. It seems that when run from within the plugin cmake cannot find some packages like imgui in your case. What does the `echo CMAKE_PREFIX_PATH` tell you if you run it from the terminal?

[2020-06-18 08:37] nkueng commented on #707
That path is empty 😰 I tried 2 things:
1. specifying CMAKE_PREFIX_PATH in the `ecc_flag_sources` as

[code]
but that did not change the error message

2. setting it in terminal as
[code]
which also threw an error:
[code]
which is weird because I couldn't deter `cmake` from looking in the `/build` directory where indeed there's no `CMakeLists.txt`.

Let me know if you need more details about my fol

[2020-07-21 16:30] papadokolos opened #712 "Support CMake on Windows with Clang and MinGW headers"
# System info: #
- Sublime Text version: `Version 3.2.2, Build 3211`
- Which system are you on: `Windows 7 64 bit`
- Clang version: `10.0.0`
- gcc version : ` 8.1.0 (i686-posix-dwarf-rev0, Built by MinGW-W64 project)`

# What happens:  #
I want to use EasyClangComplete for a CMake based project on Windows.
My goal is to use Clang compiler with MinGW (mingw-w64) headers.

In order to achieve that,

[2020-07-24 12:16] detly opened #713 "Feature request: support Meson as good as CMake"
(I am happy to do a PR for this, but I wanted to gauge interest first.)

I'm working on a project that uses [Meson](https://mesonbuild.com/). Meson generates Ninja, so at the moment I can get ECC integration just by pointing `ecc_flags_sources` at my build directory.

But it strikes me that Meson is quite a lot like CMake from ECC's point of view: it runs out-of-tree, so you could just run it in a

[2020-07-24 16:01] niosus commented on #713
@detly I think overall I am not against it. If it can work similarly to cmake, then sure, we can just add it. If it ever breaks and you're not there for reference, I could always ask people interested in this to find out what breaks and review a PR from them.

So sure, if you feel that it will make your life easier - go for it. But you will have to educate me a bit about Meson in the PR :wink:

[2020-07-24 16:04] niosus commented on #712
From your changes the only non-trivial one is the change to `posix` in the `shlex`. All the others, you can already pass to cmake, see flag_sources in the documentation. I am also a bit unsure what adding `-target` gets you. The flags there are the flags that clang supports, are you sure this change is necessary?

[2020-07-28 09:43] papadokolos commented on #712
Thanks for the tip on `flag_sources`! :smile:

## `shlex`
Regarding `shlex`, would it be appropriate to make the `posix` boolean value determined by the condition `sys,platform != "wind32"`?

![image](https://user-images.githubusercontent.com/13286080/88648191-69335180-d0cf-11ea-9066-007ccd774874.png)

## `-target`
I need `-target` to be recognized as a flag by ECC, otherwise it isn't being passed

[2020-07-29 07:15] User7711 commented on #321
I just ran into this. Is there anything I or we can do to fix this?

I'm currently using c++17 so I need clang 5+. But, i'm in the luxury situation that I can reconfigure the code for c++14 - because i'm not excessively using c++17 features - and with that support earlier versions of clang.

Best Regards.

--

clang version 10.0.0
Target: x86_64-pc-windows-msvc
Thread model: posix
InstalledDir: C:

[2020-08-04 04:45] imran27 opened #715 "Handle links to remote folders in pop-ups"
I am using this plugin just for getting completion & hover documentation and to open them up by clicking the link in the hover popup.

In case of network location, \\\abc123\... it opens into a:bc123\\...

Unfortunately I cannot post screenshots

Info:
Sublime Text 3.2.2, Build 3211
Current version this plugin as of this comment + clang + cmake locally in path.
Remote folders where code is stored

[2020-08-07 16:57] asheeshr commented on #484
Any thoughts on this issue? Could we re-open it?

When working with plain C, enum completions would be useful to have functional. @niosus

[2020-08-10 17:41] niosus commented on #484
@asheeshr sorry for a late response. I believe you can use the `::` notation, right?

In any case, feel free to have a look at the code that filters completions and create a PR with the functionality you are missing.

[2020-08-10 19:16] lulle2007200 commented on #484
Enum classes and the :: notation for enums are not a thing in plain C tho. If you *really* need enum completions, give the LSP plugin with Clangd a try.
I will look into this once i've finally finshed my other PR.

[2020-10-09 03:23] zenified opened #719 "plugin unable to find catkin package"
# System info: #
- Sublime Text version: 3
- Which system are you on: ubuntu 18.04
- Clang version: clang version 6.0.0-1ubuntu2

# What happens:  #
I had followed the documentation;s instruction of configuring the sublime-project file, however the console still reflects that it is unable to find the cakin package using `find_package()`.  This  also seems to result in  EasyClang not able to find t

[2020-10-10 09:31] niosus commented on #719
@zenified I would need to see a couple more things in order to be able to help:
- your sublime-project file
- the actual debug log printed to the console since the moment you start sublime text to the moment of the failure. For that you will need to switch the bottom panel from the ECC output that you copied already to the console output.

[2020-10-12 03:24] zenified commented on #719
Hi @niosus
Attached is the project file ( with a txt extension so that I can attach), as well as the console output

<details>
[code]
</details>

Thank you
[.sublime-project.txt](https://github.com/niosus/EasyClangComplete/files/5362717/default.sublime-project.txt)

[2020-10-20 05:21] thisisleobro commented on #684
Any updates on this??

[2020-10-20 22:37] niosus commented on #684
Nope, sorry. I don't have enough time lately. Also, fixing bugs on Windows takes much more time for me as this is not the system I am very familiar with. If anyone wants to chime in and create an appropriate job (see `appveyor.yml` file in the repo) I am happy to review a PR for that.

[2020-11-01 13:11] gavriil07 opened #720 "Console is intrusive"
Sublime 3.2.2, Windows 10

On every single focus inside a file editor this console appears, how can I turn it off?

![fsa](https://user-images.githubusercontent.com/28069262/97803799-68710500-1c54-11eb-96e5-fe68bf87b9ba.PNG)

[2020-11-15 19:38] niosus commented on #720
This means that this part of your build fails. I've been thinking about this feature for some time and decided to make the console pop up in this case. If the build fails it means ECC will not work as expected. I don't really like the idea of making it less intrusive as it will then just show random errors in this case, which, to me, is even more confusing. What do you think would be a good behavi

[2020-11-16 14:59] asheeshr opened #721 "Show all links from sublime index in popup"
# System info: #
- Sublime Text version: `3211`
- Which system are you on: `Ubuntu 16`
- Clang version: `3.8`

# What happens:  #
ECC has a setting to override the default popup. I can currently trigger the ECC popup via keypress (I already have this through a keybinding for `ecc_show_popup_info`).  I would also like to be able to access the default popup with the full list of definitions/referenc

[2020-11-16 23:40] niosus commented on #721
Hey @asheeshr

This is currently not possible. When you say that the ECC one is incomplete, what are you missing? I made sure I show all the information that comes from clang _and_ the one that comes from the sublime index.

If you feel that things are still missing, I am happy to review a PR on this, but I probably won't have the time to implement this.

[2020-11-30 15:25] manojbaishya opened #722 "ECC suppresses the output panels of CMake​Builder and Sublime​Linter"
# System info: #
- Sublime Text version: `Build 3211`
- Which system are you on: `Linux Mint 20 ulyana x86_64`
- Clang version:
[code]

# What happens:  #
When using [CMakeBuilder](https://packagecontrol.io/packages/CMakeBuilder), [SublimeLinter](https://packagecontrol.io/packages/SublimeLinter) with EasyClangComplete on a CMake Project, if I open the output panels of those plugins from the bottom

[2020-12-01 04:05] dot4qu commented on #290
I was banging my head against the wall with this, trying to override the `flags_sources` in the project, user, and even hardcoding into the base ECC settings with `$project_name` and it wouldn't work. `$project_base_name` worked perfectly, thanks!

[2020-12-01 07:58] niosus commented on #290
Yeah, @dot4qu sorry about that. Please do and I will quickly merge this.

[2020-12-06 00:12] asheeshr commented on #721
The ECC popup only seems to have the first few references for a particular symbol whereas the Sublime popup shows the full list of references. For example, for a function, I only get the reference to the definition in the ECC popup whereas the sublime popup shows references to all the calls to that function as well. This is useful to have to look for other uses of a particular function call when w

[2020-12-06 09:29] niosus commented on #721
Hmm. What I do is I load all the additional suggestions from sublime index. So the information should be identical. Maybe I'm not loading all of it. I will have a look.

[2020-12-07 01:13] niosus commented on #722
@manojbaishya thanks for reporting this. I will try to look into it this week. This really should not happen, so it is clearly a bug.

[2020-12-07 01:19] niosus commented on #719
@zenified sorry for the delay. What usually helps me is to build the project from terminal and source its `devel/setup.bash` before you open sublime text for this project.

PS. please take care of formatting your comment. As a general rule, the easier you make it for somebody (in this case, me) to see what is wrong with your setup the more likely it is that you will get help. If you don't take the

[2020-12-07 01:20] niosus commented on #715
I am happy to accept a PR for this, but this is very far from my current usecase so I probably won't have the time to work on this.

[2020-12-07 01:31] niosus commented on #706
@matreshkin sorry, I didn't really have time to properly look into this.
- The way I see it, I would ideally like to complete includes for all `-I` or `-isystem` flags. The reason being that for a generic project there is no way of knowing where the files will be living. Also, if we constrain the includes completion to project files only, we then exclude all system includes, which is not really wh

[2020-12-07 01:33] niosus commented on #711
Is this still relevant?

[2020-12-07 01:36] niosus commented on #705
I will close this issue to continue talking about it in #706 if you don't mind. Hopefully I will get to actually implement this in a proper way some time soon.

[2020-12-07 01:36] #705 closed

[2020-12-07 04:30] chetgnegy commented on #711
I don't require any further action. Whether you want to fix it or not is up
to you, but it seemed like it was not going to impact many people.

On Sun, Dec 6, 2020 at 5:33 PM Igor Bogoslavskyi <notifications@github.com>
wrote:

[2020-12-07 17:03] dot4qu commented on #290
PR is here https://github.com/niosus/EasyClangComplete/pull/723

[2020-12-08 22:32] niosus commented on #711
@chetgnegy my main issue is still that I don't fully understand the problem. Is the issue in having the bazel set up to build some binaries for other platforms and these error when we try to generate the compilation database from within ECC?

[2020-12-08 23:33] chetgnegy commented on #711
My bazel files were for Mac and Linux, and I was running ECC on Linux.
Obviously the objective C targets in my BUILD file won't work on Linux, so
I simply don't build them. I think ECC didn't know better and was trying to
build them. Once I deleted those targets from my BUILD file, ECC worked
properly.

On Tue, Dec 8, 2020 at 2:33 PM Igor Bogoslavskyi <notifications@github.com>
wrote:

[2020-12-09 20:32] cschreib opened #727 "Autocompletion of function arguments with Tab key not working as expected"
# System info: #
- Sublime Text version: 3.2.2 build 3211
- Which system are you on: Linux Mint 19.3
- Clang version: 10.0.0-4ubuntu1~18.04.2

# What happens:  #
When I autocomplete a function, EasyClangComplete autocompletes the arguments based on the function signature, and highlights the first argument for me to overwrite. Usually I want to start typing the name of a local object and have it au

[2020-12-12 09:43] niosus commented on #727
@cschreib as far as I know this is not an issue with ECC but with the config of sublime text.

Here is a [link](https://forum.sublimetext.com/t/use-tab-to-force-commit-completion-inside-snippets/33174) to a relevant discussion and the solution seems to be:

Does this help?

[2020-12-12 14:14] cschreib commented on #727
It does, thank you! I had to set both ``auto_complete_commit_on_tab`` and ``auto_complete_with_fields`` to ``true``.

Sorry, I thought this was an ECC issue because this is the only context where I had the problem happen, I didn't realize this was a core Sublimetext issue! Weird how the documentations of the settings say that setting this to ``true`` is a superior solution, yet this is not the def

[2020-12-13 04:35] LexouDuck opened #728 "Add option for detailed documentation view"
# System info: #
- Sublime Text version: 3.2.2 (build 3211)
- Which system are you on: Windows
- Clang version: 8.0.1

# What happens:  #
This is rather more of a suggestion or a feature request than a true issue, really.
I'm very glad that this plugin shows brief documentation for functions, following the doxygen style(s) of comments.
![image](https://user-images.githubusercontent.com/35985773/10

[2020-12-13 11:43] niosus commented on #727
Awesome! Glad it is resolved. I might want to add this info to the docs though...

[2020-12-13 11:46] niosus commented on #728
@LexouDuck I think this is already there. We show brief doc on top and full doc on the bottom. But it is a bit hacky as we parse the doxygen comments ourselves. I tested it with a couple of styles I use and it worked, but it probably just doesn't work with yours. You could extend this functionality if you like to, or just switch to using a different style of doxygen (e.g. all lines start with `///

[2020-12-13 21:27] LexouDuck commented on #728
Well, I am quite fond of the doc comment style I use - so I think doing a PR is the way to go then. While I am at it,  I'll try and make every other comment style that doxygen accepts play nicely along with this plugin (for instance, it seems that the plugin expect only one '*' asterisk at the beginning of each line, so the fact that I have two asterisks at the beginning of each line puts stray as

[2020-12-14 01:26] niosus commented on #728
Nope, for now the support for doxygen is very rudimentary. I get the raw comment from clang and then do some really simple cleanup in here: https://github.com/niosus/EasyClangComplete/blob/master/plugin/error_vis/popups.py#L453-L479

Feel free to poke around and submit a PR if you do improve parsing! Thanks a lot!

[2020-12-14 01:27] niosus commented on #728
Also, you should probably wrap your `@def` etc things in the code quotes as otherwise you ping github users that have nothing to do with this issue. :wink:

[2020-12-22 09:30] #706 closed

[2020-12-22 10:00] #721 closed

[2020-12-27 21:42] marcizhu opened #732 "ECC not working on multi-directory projects"
# System Info
- Sublime Text version: `3.2.2 Build 3211`
- Which system are you on: `macOS Big Sur 11.0.1`
- Clang version: `Apple clang version 12.0.0 (clang-1200.0.32.27)`

# What happens
ECC always uses the CMakeLists.txt file in the current directory instead of the one on the top directory. This is not an issue when used in small projects, but in my case I have a big project which is divided i

[2020-12-28 09:31] niosus commented on #732
@marcizhu I believe we strike a conceptual problem here. The way I understand CMake projects is the following: whatever has a `project(name)` in it is a project. Projects must work in isolation without any assumption about where they are situated with respect to other project. Anything that they use externally they must `FindPkg` or smth. With this in mind I have designed how ECC works. It searche

[2020-12-28 13:42] marcizhu commented on #732
To be honest, your point of view makes total sense: a project is defined as such if a `project(...)` clause is found, and it should not rely on other things from external projects.

I've tried to remove the `project(...)` clause on one of the subprojects and it works like a charm. I think I will use that as a temporary solution until I have the time to refactor everything so that there are no impl

[2020-12-30 23:04] niosus commented on #732
@marcizhu did you try the suggestion with the `search_in` setting? It should do exactly what you want it to do I guess. It will then always find the file in the folder you provide. I should probably allow a full path to a `CMakeLists.txt` file in the `flags_sources` setting though :thinking:

[2020-12-30 23:10] marcizhu commented on #732
Nope, I didn't try it. I will try it tomorrow if you don't mind, but by the looks of it I'd say it will do what I want.

[2020-12-30 23:11] niosus commented on #732
Yeah, no pressure 😉

[2020-12-31 09:55] marcizhu commented on #732
I've tried it but it still looks for the old `CMakeLists.txt` for some reason. This is what I've added to my `.sublime-project` file:
[code]

I've tried using `.`, `./`, `$project_path`, `$project_path/` and `$project_base_path/` for the `search_in` parameter and nothing seems to work. What am I doing wrong? If it worked this would be indeed a perfect solution, but I can't manage to get it working

[2021-01-03 20:23] manojbaishya commented on #722
Hi, any luck with the error? :smile:

[2021-01-06 02:53] #720 closed

[2021-01-08 18:28] niosus commented on #722
Hey, didn't really look at this during the holidays. Let's see if I can fix this tonight :)

[2021-01-08 18:29] niosus commented on #732
@marcizhu could you show me the output of the console when `debug: true` is set? Otherwise it is hard for me to tell what is wrong. But it should work.

[2021-01-08 18:57] niosus commented on #722
@manojbaishya it would be awesome if you could check if the PR above fixes the issue for you. Otherwise, you can wait a couple of days until I release a version with this in.

[2021-01-08 19:45] marcizhu commented on #732
Sure! Right now I'm unable to do this, but in a couple of hours I will post the entire log :)

[2021-01-08 22:05] marcizhu commented on #732
@niosus This is the log output. Sorry for keeping you waiting.

<details>
  <summary>Log output</summary>

[code]
</details>

<details>
  <summary>Config file (.sublime-project)</summary>

[code]
</details>

[2021-01-08 23:24] niosus commented on #732
Weird. Looks like the path in the search in is never populated. I will try to have a look this weekend.

[2021-01-08 23:32] marcizhu commented on #732
Perfect! If you need me too try anything just @ me and I will help you in anything I can :D

[2021-01-10 12:39] manojbaishya commented on #722
Thanks a lot! It works perfectly now :)

https://user-images.githubusercontent.com/28330014/104123067-e6e1d580-536e-11eb-857e-4615e8d2c24b.mp4

[2021-01-10 17:46] niosus commented on #722
@manojbaishya glad it is fixed now. I will reopen this so that it is closed with a PR instead.

[2021-01-10 18:31] niosus commented on #732
@marcizhu are you entirely sure that the file that you're looking at is assigned to the sublime project you are editing? These lines in your log show that there are no settings read from the project file:
[code]

When there is a setting in there, e.g. the like the ones you provided, it should be printed between lines 3 and 4 like this:
[code]

This works on my machine and the path is then expanded

[2021-01-10 18:47] #722 closed

[2021-01-10 18:49] niosus commented on #600
I still wonder when will I find the willpower to do this. :shrug:

[2021-01-10 19:16] marcizhu commented on #732
@niosus This is the section of the `.sublime-project` where I define the files included in the project:
[code]

As you might see, I include all files and folders inside the current folder, so unless I'm misunderstanding something here, all my files should be included in the project. I believe it is the case since I can see all my project files on the project files list in Sublime Text.

[2021-01-10 19:19] niosus commented on #732
@marcizhu can you show the full project file? Maybe I will spot something odd?

[2021-01-10 19:25] marcizhu commented on #732
Definitely! Here's the entire file:
[code]

[2021-01-10 19:27] niosus commented on #732
Ah, now I see this @marcizhu
You are missing the `settings` entry. Try this:

<details>

[code]
</details>

[2021-01-10 19:32] marcizhu commented on #732
I've just tried it and it works flawlessly. My bad. I should have posted the entire file days ago 😞
I think we can close this issue now.

[2021-01-10 19:35] niosus commented on #732
@marcizhu awesome! Happy that it works for you! I think I will close the issue, but might add a warning note to the docs about this.

[2021-01-10 19:35] #732 closed

[2021-01-10 19:39] marcizhu commented on #732
Yeah, that might be helpful :D
Thanks for your time & patience on this topic <3

[2021-01-10 19:40] niosus commented on #732
No worries. Glad I could help.

[2021-01-14 18:31] thewindsofwinter commented on #640
Hi, I see that this issue's been open for a while, @YesserLab are you still working on it? If not I could give it a go, although I'm quite new to open-source so it might take me a while.

[2021-02-02 19:55] pandasauce opened #735 "Does not work on Windows with non-default directories"
# System info: #
- Sublime Text version: 3.2.2, Build 3211
- Which system are you on: Windows 10
- Clang version: 11

# What happens:  #
I have both Visual Studio and MinGW installed, both in separate non-default directories, neither polluting the `PATH` variable - this is done for things to coexist as I work with countless different languages, SDKs and their versions, so my "root" environment is

[2021-02-03 22:14] pandasauce commented on #735
Resolved part of the issue.

My actual builds were based on MinGW makefiles and done out of source. Pointed the plugin at the build directory and it started semi-working: I have to set `"show_type_info": false` to get auto-completion, because it still fails to load `libclang` with the error above. I'll rename the issue.

[2021-02-06 08:09] niosus commented on #735
@pandasauce yeah, I have to find the time and fix the MinGW usecase :shrug: I am not a Windows person, so it takes me a while to get started on this. If you have ideas what would be the fix, any pointers would be much appreciated.

[2021-02-09 18:58] #719 closed

[2021-02-19 01:38] MattMicheletti opened #736 "EasyClangComplete's "cmake-builds"/Database Files/Directory Setting?"
# System info: #
- Sublime Text version: `3.2.2 (Build 3211)`
- Which system are you on: `macOS Catalina 10.15.7`
- Clang version: `Apple clang version 11.0.3 (clang-1103.0.32.62)`

# What happens:  #
EasyClangComplete works fine as far as I can see. I want to know if and what setting is used to control where EasyClangComplete generates its files (specifically its cmake-builds directory). Right no

[2021-02-20 21:04] niosus commented on #736
Hey @MattMicheletti for now this is not really supported. ECC would always generate a new build in a temporary folder, wherever that is on any system. I've been thinking of allowing it to reuse the actual build folder but never ended up doing it. You can look into this line if you want to poke around it a bit: https://github.com/niosus/EasyClangComplete/blob/master/plugin/flags_sources/cmake_file.

[2021-02-21 22:42] Legorock opened #737 "Include paths for generated headers with CMake custom command"
# System info: #
- Sublime Text version: `3.2.2 (build 3211)`
- Which system are you on: `Manjaro 20.2.1`
- Clang version: `11.0.1`

# What happens:  #
My project uses an external framework (Apache Thrift) which generates some boilerplate C++ code and code generation is part of the build process. On the CMake side, it is handled with custom_command and custom_target which is added as a dependency

[2021-02-22 17:42] niosus commented on #737
@Legorock that is kinda weird. I do run cmake in a temporary folder but it should still export all the build artifacts and those should still be visible in the `compilation_database.json` that is generated during the cmake build. Can you check if the paths you are talking about are present in the compilation database?

[2021-02-22 18:56] Legorock commented on #737
In the minimal example, I don't even see the `compilation_database.json` in the build directory. In my own project, this file exists and there are a lot of directories starting with the `${CMAKE_CURRENT_BINARY_DIR}` path but not the directory that cmake custom command generates.

[2021-02-22 19:17] niosus commented on #737
Yeah, you would have to look in the temporary folder which is in different places depending on your system

[2021-02-22 21:49] Legorock commented on #737
The contents of the file are below, I just replaced my home directory path with $HOME.

<details>
[
{
  "directory": "/tmp/EasyClangComplete/cmake_builds/080fe5ebf38958224a540f56235f6c18",
  "command": "/usr/bin/c++  -I/tmp/EasyClangComplete/cmake_builds/080fe5ebf38958224a540f56235f6c18 -Wall -Werror -std=gnu++17 -o CMakeFiles/test_exe.dir/main.cpp.o -c $HOME/Projects/cpp/cmake_custom_cmd/main.cpp

[2021-02-22 22:17] niosus commented on #737
Yep, I don't think I'm running the build either. What I do is I let libclang execute commands from the compilation database as they are + some additional include paths and flags. But I do run cmake on your project and let it generate all the artifacts in the temp folder. Do I understand correctly that the files will only be generated by the built itself? I guess I could allow users to specify the

[2021-02-23 10:48] Legorock commented on #737
Yes, you are right. In my case, the files are generated at built times (due to `add_custom_command` and `add_custom_target`) and I agree that in this case probably it is best to specify the directory in `*.sublime-project` settings. I managed to recreate a similar scenario with `execute_process` and, in deed, ECC is able to find the headers because the file generation is in configuration time and

[2021-02-23 10:48] #737 closed

[2021-03-26 11:06] WaZC-Git opened #738 "How can configure in MinGW32？"
How can I configure with mingw32 them，
(Sorry, I can't discern the document)
Thank you

[2021-03-26 19:00] alpan opened #739 "Generate autocompletes derived only from the local files of the project?"
# System info: #
- Sublime Text version: Build 3211
- Which system are you on: Windows 10 64-bit
- Clang version: 11.0.0

Hi,

I hesitated before opening this issue because it's not an issue, more like an usage/configuration question, and it may be a stupid one. I recently installed ECC and it works well (I only created an empty compile_commands.json file in my project folder and it started workin

[2021-03-29 09:59] niosus commented on #739
Hey @alpan

If I understood you correctly, you want the plugin to not generate completions based on standard includes? So you would still have a `#include <vector>` for example in your code, but when you type a dot after a vector instance, you want no completions to appear? Is this right?

If this _is_ right, then I don't think this actually makes much sense. In the end, the code must be compiled

[2021-03-29 10:01] niosus commented on #738
Sorry, please take time to format the issue well, stating what you tried and what you did not. I am a single person who is not getting payed to do this. Please show _some_ respect to this work in the form of at least spending the time to ask the question well. There is an issue template for a reason. I will close this issue, but please feel free to open a new one with more information.

[2021-03-29 10:01] #738 closed

[2021-03-29 14:44] alpan commented on #739
Thank you for your response. Your understanding is partly correct: I say partly because I see I wasn't entirely clear and should have clarified something. My issue for the most part isn't with member variables/functions, because, as you say, completions for those require object instantiations anyway. So you're right, in that scenario it doesn't make much sense.

But consider #include'ing something

[2021-04-01 13:53] niosus commented on #739
Ok, I see. So just as a quality of life improvement you would like to have a setting that would restrict the autocompletion suggestions to ones from the project folder only, right?

[2021-04-01 14:15] alpan commented on #739
Yes, that would be fine.

[2021-04-06 15:58] esteimle opened #740 "Proper way to pass cmake flags to use ninja?"
I was trying to get EasyClangComplete to work with my android ndk project (cross compiled on windows).  My first step was I need to pass the -G Ninja parameter to cmake but I don't think I have it right.  This is what I did in my .sublime-project file below. It does not seem to be picking up the option though as it throws a bunch of popups and then shows me a window at the bottom of Sublime with t

[2021-04-07 06:02] seanmlyons22 opened #741 "c_cpp_properties.json: Support ${workspaceFolder} substituion"
[c_cpp_properties.json](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference) supports vscode variables such as `${workspaceFolder}`. However, this must be translated to something that LLVM can understand.
I propose a small enhancement to the `CCppProperties` class where ECC will attempt to replace `${workspaceFolder}` with `.` in the `includePath` list. According to [this issu

[2021-04-09 15:08] niosus commented on #740
@esteimle what you are doing looks correct. Please try to close the file, call `ECC: Clean CMake cache` command and try again. Otherwise, please provide the things I ask for in the template to a new issue here. Without seeing an error and the log from the plugin there is little I can do.

[2021-04-09 15:09] niosus commented on #739
Ok, I see the point. I'm not sure how relevant this is to the majority of people as it seems to be a bit of a niche feature. I could review a PR for this though if you'd like to contribute.

[2021-04-10 09:03] niosus commented on #741
I was not the one who implemented the support for `c_cpp_properties.json`, so if you think it can work better, I am happy to have a look at a PR and merge it eventually, but I will not be able to provide much guidance apart from checking how it plays together with the other parts of the code.

[2021-04-10 11:39] Feacur commented on #600
Hi! First of all, thank you for the plugin, @niosus, it works like a charm =)

Second, I've got my setup up and running, @tomeksowi and anyone TWIMC: https://github.com/Feacur/game_prototype/tree/master/__sublime_project

- `game_prototype.sublime-project` -> contains project-specific bits (include paths, global defines), see entries with the `ecc_` prefix
- - N.B.: `build_systems` entries with `f

[2021-04-10 21:39] mclayton7 commented on #741
@niosus @seanmlyons22 I think this sounds reasonable. There should be some tests that'll help verify the implementation, but if you have any questions about the existing implementation, don't hesitate to @ me!

[2021-04-11 11:50] Feacur opened #742 "Designated initializers don't seem to be parsed correctly"
... or requested, maybe?

UPD: seems to be a Clang issue (https://github.com/clangd/clangd/issues/142) (https://github.com/clangd/clangd/issues/745)
Just as `LSP + clangd` only designators in simple assignments seem to function correctly.

(Yup, I've seen your message "Discussion on a simpler C++ user experience" =))

# System info: #
- Sublime Text version: `Version 3.2.2, Build 3211`
- Which sys

[2021-04-12 13:05] niosus commented on #742
Could you please provide the log as the issue template nudges you to? Otherwise, there is not much for me to go on. Also, `"use_libclang": false` is only there for legacy reasons and should generally not be used.

[2021-04-12 13:09] niosus commented on #742
I briefly checked it locally though and it seems to indeed not work. I will try to have a look if this is due to libclang not providing those completions or due to some other issue. If it is libclang then there is not really that much I can do.

[2021-04-12 14:24] Feacur commented on #742
Sure, thank you for pointing the style-guide out; I've updated the text 🙏🏽

[2021-04-12 19:27] Feacur opened #743 "Headers autocompletion suggestion"
# System info: #
- Sublime Text version: `Version 3.2.2, Build 3211`
- Which system are you on: `Windows 10 Home, 10.0.19042 Build 19042`
- Clang version: `10, x86_64-pc-windows-msvc, posix`

# What happens:  #
More of a suggestion, than an issue.

Using `libclang` to complete `#include "..."` feels more natural and correct than the original popup method.

A small tweak is sufficient:
[code]

# Or

[2021-04-13 10:36] Feacur opened #744 "An erroneous warning"
... I'm not sure if that's due to a compiler/analizer bug or something else

UPD: might be some clang issue: `LSP + clangd` show the same exact behaviour (https://github.com/clangd/clangd/issues/744)

# System info: #
- Sublime Text version: `Version 3.2.2, Build 3211`
- Which system are you on: `Windows 10 Home, 10.0.19042 Build 19042`
- Clang version: `10, x86_64-pc-windows-msvc, posix`

# What

[2021-04-13 10:49] Feacur opened #745 "Crash on drag-selection near an error"
# System info: #
- Sublime Text version: `Version 3.2.2, Build 3211`
- Which system are you on: `Windows 10 Home, 10.0.19042 Build 19042`
- Clang version: `10, x86_64-pc-windows-msvc, posix`

# What happens:  #
Sublime Text crashes if you select text **too hard** with mouse at the error line with a popup. Just drag-select some text there a lot.

I used `SublimeLog` plugin to get the crash trace.

[2021-04-14 13:16] niosus commented on #745
Ok, thanks for reporting. I will try to have a look as soon as I find the time.

[2021-04-14 13:16] niosus commented on #745
Judging from the log it should be not too hard to fix.

[2021-04-14 13:54] Feacur commented on #742
Just wanted to add that I set `LSP + clangd` up, too. Surprisingly, it offers no completion for designators as well; only analysis.

[2021-04-14 18:33] sam-mccall commented on #742
Nested initializers are handled in llvm/llvm-project@eb4ab33

I suspect top-level designated initializers will be completed in clang-12, nested in clang-13 (or current main)

[2021-04-14 19:09] #742 closed

[2021-04-14 21:50] lynnporu opened #746 "Suppress message about success build"
# System info: #
- Sublime Text version: `build 3211`
- Which system are you on:  `Linux Mint`
- Clang version: `10.0.0-4ubuntu1`

# What happens:  #
When I type something, there's a build message appearing immediately with the following content:
[code]
This message appears even on Sublime window resizing, focusing or bluring. I know, it means that everything went ok, but:

- This message makes Su

[2021-04-15 08:28] niosus commented on #746
That is really strange. The panel should be hidden (and stay hidden) if the build succeeded. It only shows up if the build has failed. :thinking:

[2021-04-15 11:02] lynnporu commented on #746
Yes, it is. I've also tried to reinstall plugin and add `--quiet` to compiler flags, but it doesn't seem to work.

[2021-04-15 11:22] #744 closed

[2021-04-18 13:53] niosus commented on #746
@lynnporu do you by any chance have a reproducible example of this? Like a small project that I could use?

[2021-04-18 13:55] niosus commented on #741
Thanks for chiming in @mclayton7, really appreciate this! @seanmlyons22 feel free to implement what you consider makes sense, open a PR and ping both me and @mclayton7 on it. This way we can go forward with this.

[2021-04-18 13:57] niosus commented on #744
Just for completeness, did this problem just go away @Feacur?

[2021-04-18 14:22] niosus commented on #743
Holy crap. I was never aware that I could just get the includes from libclang. :man_facepalming:  The funny thing is that I believe I tried this before and it never worked. I just tested this and it works well. Soooo. This makes my way of completing the includes with the popup obsolete to some degree. :thinking:

That being said, let me quickly walk through how each of the methods works:
- my popu

[2021-04-18 14:34] niosus commented on #745
@Feacur I added a PR, but I could not reproduce this. Granted I did try this on by Linux machine, but still. Just in case I was doing smth wrong, am I "selecting too hard" right?

https://user-images.githubusercontent.com/1893598/115149346-eb034a80-a063-11eb-81bb-7cf6ac0e19d4.mp4

[2021-04-18 15:18] niosus commented on #742
Thanks for chiming in @sam-mccall :pray:

[2021-04-18 15:31] Feacur commented on #745
Yes, exactly like that =)

The crash persist even with the PR, although now without the said trace. I'll test a bit more searching for the source[s] of it; without any additional leads, there is no much use to this issue anyway.

For me it looks like this:
![image](https://user-images.githubusercontent.com/1132582/115150552-8bac3700-a071-11eb-8674-4e19efe39373.png)
![image](https://user-images.git

[2021-04-18 16:00] Feacur commented on #743
Sounds great to extend the defaults and rephrase the setting! Though, surely, that's completely up to you whether to make the libclang method default instead or not. I merely wanted to bring the possibility up.

[2021-04-18 18:03] Feacur commented on #745
Ok, superficially traced the offender:
[code]
... without these popups [**spamming**, while user drag-selects stuff,] everything's going just fine. Also, I've noticed `info` popups take completely different paths to occur, unlike `warning` and `error` ones.

[2021-04-18 18:28] Feacur commented on #744
@niosus, no, no; but, as that's not a bug of ECC or LSP, I've filed a new issue at the `clangd` side, which is the primary source.

[2021-04-18 20:23] niosus commented on #744
Got it, thanks.

[2021-04-18 20:53] niosus commented on #745
This is all really weird. With all the things you commented out you would not get the popups at all, right?

[2021-04-18 21:20] Feacur commented on #745
Yeah: should I only disable `popup.show(view)` call in the `popup_error_vis.py`, everything comes stable. Obviously, without the said popups, which is a mild inconvenience; but `ECC: Show all errors` and gutter icons still function all right, so not everything's lost. Besides, keyboard controls aren't affected by the issue, so normally I wouldn't get the crash.

[2021-04-21 04:22] lynnporu commented on #746
@niosus I tried to create a small livable copy of my project and generated new `CMakeCache.txt` in the new directory. The error gone. I made another one copy of the project and just typed `rm CMakeCache.txt`. The error gone. It appears to be solution. It still appears in my original project though, but I can't make a copy for you, because even if I just change some keys in `CMakeCache.txt` (like `

[2021-04-21 18:14] niosus commented on #746
Got it. Did you run the `ECC: clean cmake cache` command by any change in your project? Or just reboot the machine (or clean your temporary folder) which will clean all the build artifacts. If that does not help, I will have to think more about what can be causing this.

[2021-04-21 18:20] niosus commented on #745
I see. This is really strange. I will probably also try to run this on Windows just to see if I am able to reproduce it there. The popups are most probably generated in different ways on linux and windows. Until then, it _is_ weird. On my machine, sublime text never crashes unless there is a legitimate bug in the plugin code, so it _might_ be related to your configuration.

[2021-04-22 11:13] Feacur commented on #745
Sure, it might be. I did disable all the other plugins before taking the screenshots; but it still leaves the rest of my machine to interference the editor.

(also, ugh, sorry, I've accidentally misclicked the [close issue] button and got no prompt)

[2021-05-02 11:52] niosus commented on #745
@Feacur I've tried reproducing this on my Windows machine and it just won't crash. Is your machine special in any way?

[2021-05-02 22:32] Feacur commented on #745
Most likely it is, as any other PC
- there is a fair lot of dev tools, for sure
- some system settings and permissions may differ
- well, drivers/hardware/running services/whatnot

I can't pinpoint any other particular cause, unless I dig deeper the callstack into `mdpopups`, for instance.

Anyway, thank you for trying to reproduce it at your side and for your time.

[2021-05-18 14:51] #740 closed

[2021-05-27 10:22] soumya997 commented on #739
hey @niosus after declaring a vector, when I do `v.` then  nothing shows up, no suggestions come up, I just installed this plugin, and this is how my settings file look like,
[code]
Is there anything that I am missing?

[2021-05-27 13:08] niosus commented on #739
@soumya997 is your issue related to this one? It doesn't seem to. Please open a new issue for the new request.

[2021-05-27 13:38] soumya997 commented on #739
@niosus ok will do. thanks for mentioning

[2021-06-06 18:54] ellipticaldoor opened #750 "Headers from listed add_definitions are not getting included and pch breaks completion"
# Fill the gaps below this line and remove all text above it #
--------------------------------------------------------------

# System info: #
- Sublime Text version: `Sublime Text 4 (Build 4107) `
- Which system are you on: `macos catalina`
- Clang version: `Apple clang version 11.0.3 (clang-1103.0.32.62)`

# What happens:  #
On my cmake I have a global hpp include like this
[code]

This global.

[2021-06-08 17:40] #728 closed

[2021-06-08 19:41] ellipticaldoor opened #751 "Go to declaration of includes?"
Is it possible to click into an include `#include "myheader.hpp"` and open the file?

Right now sublime has a "Goto definition" but most of the times it doesn't work or it suggest lots of files.

[2021-06-10 22:09] ellipticaldoor opened #752 "Not working on apple m1 arch64"
# System info: #
- Sublime Text version: `Sublime Text 4 4107`
- Which system are you on: `macos big sur 11.4`
- Clang version:
[code]

# What happens:  #
The plugin doesn't works on apple m1 machines. The same CMakeLists.txt I have compiles fine on an x86_64 machine

Here is the small version of the log
[code]

And here is attached the full log
[log.txt](https://github.com/niosus/EasyClangComplet

[2021-06-12 09:18] ellipticaldoor commented on #752
I'm trying to help fix this, so far I found that the error happens here

https://github.com/niosus/EasyClangComplete/blob/master/plugin/completion/lib_complete.py#L149

which is calling clang_parseTranslationUnit from the cindex50.py plugin

https://github.com/niosus/EasyClangComplete/blob/master/plugin/clang/cindex50.py#L2715

seems like clang_parseTranslationUnit just silently fails and returns

[2021-06-12 09:40] niosus commented on #752
@ellipticaldoor while I don't own any M1 macs unfortunately, I did try the plugin on a friends' mac some time ago and it seemed to work as I expected. So I would assume there is something else fishy here. Looking through your log, I see some lines that trigger my attention:
[code]
Maybe this is the cause. Can you also tell me your ECC settings?

[2021-06-12 14:20] ellipticaldoor commented on #752
Ah, I think it might be that now to specify which architecture you want to run you have to first the command arch like this

[code]

My settings are now this

[2021-06-12 16:07] ellipticaldoor commented on #752
I found a fix!

If the -arch flag is passed to the `tokenize_list` function then ignore it:

[code]
Here is the original code https://github.com/niosus/EasyClangComplete/blob/master/plugin/utils/flag.py#L110

Probably there is a less hacky solution for this... I hope this points in the right direction for a better fix

I can open a PR with this fix unless you suggest something else, thanks for you

[2021-06-13 21:03] ellipticaldoor commented on #751
I found that this plugin works for this case https://github.com/noahcoad/open-url

[2021-06-13 21:03] #751 closed

[2021-06-15 20:06] ellipticaldoor commented on #750
I realised you can use .clang_complete file in the root folder to add include folders

[2021-06-15 20:06] #750 closed

[2021-06-22 17:54] #710 closed

[2021-06-26 21:16] niosus commented on #752
Yeah, that looked like it. Thanks for testing this out. I will try to push the solution this weekend.

[2021-07-10 09:45] ellipticaldoor opened #754 "Could be possible to disable to show the popup immediately when clicking on a line that has an error?"
When I click a line that has an error the popup appears immediately and I can't click the code that is underneath and sometimes code that I want to read.

I see there is an option called show_errors, but if I turn it off the highlight of the error disappears so it's hard to tell where it is.

I just use the command "ECC: Show all errors" so for me the popup is redundant, could be possible to have

[2021-07-11 21:08] #653 closed

[2021-07-11 21:08] #655 closed

[2021-07-11 21:09] #680 closed

[2021-07-11 21:09] #651 closed

[2021-08-01 13:44] ellipticaldoor opened #755 "Files with same name share error messages"
Basically if you have a file called `foo.hpp` in `src/foo.hpp` and other one in `src/test/foo.hpp` then, if for example `src/test/foo.hpp`has an error message then this one will appear also in `src/foo.hpp`

[2021-08-02 12:39] dannftk opened #756 "Headers are not auto-completed in Sublime Text 4"
# System info: #
- Sublime Text version: 4113
- Which system are you on: gentoo linux, 5.10.52, x86_64
- Clang version: 12.0.0

# What happens:
It seems nothing happens when I like to complete headers using `autocomplete_include` feature. When it is set in `true` and I start typing `#include "` EasyClangComplete suggests nothing, and just gives the output:

[code]

Does the plugin support ST4 comp

[2021-08-05 06:38] #756 closed

[2021-08-05 12:49] niosus commented on #756
Hey @dannftk sorry for the delay. As you closed the issue, I understand that it has fixed itself? :wink:

[2021-08-05 12:51] niosus commented on #755
@ellipticaldoor oh wow, thanks for reporting this. This is extremely weird. I mean I constantly test on tiles like `test.cpp` which are all over the place and have never observed the behavior. I would still ask you to update the description respecting the issue template. I will close the issue for now as it does not contain enough information for me to go on but please reopen it once you have upda

[2021-08-05 12:51] #755 closed

[2021-08-05 12:53] niosus commented on #754
@ellipticaldoor thanks for this idea. You can still copy the code over, the popup won't interfere with this. We could consider adding such an option but I won't have the time to work on it. I would review a PR with this feature though if you're willing to implement it.

[2021-08-05 13:16] dannftk commented on #756
Hi. Yes, it has. Thank you

[2021-08-05 15:15] ellipticaldoor commented on #754
Ah I see, in the end what worked for me was to disable the function `show_popup_if_needed` in `popup_error_vis.py` with an early return.

[code]

[2021-08-05 15:17] ellipticaldoor commented on #755
I reinstalled and I stopped having the error. Maybe it was something with a cache somewhere... but it seems like it stopped.

If I manage to reproduce this again I will post it

[2021-09-20 15:42] dortamiguel opened #757 ""Clean current CMake cache" doesn't works on Windows"
I'm installing EasyClangComplete on windows and I'm getting the following error after setting a different generator for cmake

[code]

I already runned the command "ECC: Clean current CMake cache" and also tried with restarting though I always get the same error.

Where I can locate the cache directory for this plugin? So I can manually delete it

[2021-09-20 16:01] ellipticaldoor commented on #757
In the end I found the temp folder here `C:\Users\user\AppData\Local\Temp\EasyClangComplete`, deleting this manually fixed my issue.

So it seems like "ECC: Clean current CMake cache" from the command palette doesn't works on windows

[2021-09-21 07:35] niosus commented on #757
I see. There seems to be a bug in how these files are cleaned. I thought I fixed this some time ago, but I would have to have another look :thinking:

[2021-09-22 00:47] InfRandomness commented on #713
I would be happy to help in that process, I am wanting to switch from cmake to meson but I have a really hard time without proper completion.

[2021-09-22 01:17] InfRandomness commented on #713
Oh, that's great, thanks ! :D
I will eventually try to think about a way to add solid support for meson to ECC.

[2021-09-22 04:22] InfRandomness commented on #713
@detly I have did that, and have added include/ as my include directory in meson, but it seems as if ECC does not take that into account because it does not provide completion over my headers in include/
Here is my meson config :
[code]
Do you happen to know how I could make this work?

[2021-09-22 15:15] detly commented on #713
Funnily enough I don't actually use the `include_directories()` command - all my includes are either relative from the project root or system includes. I dimly remember that what you're seeing is a problem with `compile_commands.json` configuration - that it does not store include directories in an easy-to-parse way, just source files and build flags. It's the build flags that contain the include

[2021-09-23 22:08] ellipticaldoor opened #758 "Windows can't detect the include folder from the CMakeLists.txt file"
# Create minimal example if you can #
- Add an include folder to `CMakeLists.txt` like this `include_directories(SYSTEM "${CMAKE_SOURCE_DIR}/include")`
- Go to a source file that imports a header from the include folder
- In macos will work just fine but windows will not find it

# System info: #
- Sublime Text version: 4113
- Which system are you on: Windows 10
- Clang version:
[code]

# What hap

[2021-09-25 09:37] InfRandomness commented on #713
Alright, I will do that instead. Thanks!

[2021-09-25 09:49] InfRandomness commented on #713
This doesn't seem to work.
I have
[code]
in my .sublime-project file, ECC still does not find my header file.
Can this be caused by the fact my header file extension is .hxx instead of .h?

[2021-09-25 11:47] llan-ml commented on #445
Hi @kiwec , does this still work for you? I tried this but no completion results show.

[2021-09-25 18:33] kiwec commented on #445
Sorry, I dropped windows permanently :smile:
Can't help you :yum:

[2021-09-28 14:04] ellipticaldoor opened #759 "Using defintions declared on the CMakeLists.txt from windows gives "Error: Expected expression""
So on latest windows if you define something in your `CMakeLists.txt` like this

[code]

And then in a source file you try to use this variable like this

[code]

Then you will get the error `Error: Expected expression`

This error only appears on EasyClangComplete, the file compiles just fine. Also this error doesn't appears on mac, with the same code.

[2021-10-02 12:47] niosus commented on #759
@ellipticaldoor please follow the template when creating the issue. Here I don't have enough information to understand what is going on. Please reopen with the required information.

[2021-10-02 12:47] #759 closed

[2021-10-02 12:56] niosus commented on #713
Sorry guys, I only now read this thread. @InfRandomness does the solution provided by @detly in https://github.com/niosus/EasyClangComplete/issues/713#issuecomment-924502065 work for you? If not then it would be interesting to see what doesn't work there as at that point it is just about reading that compilation database.

Other than that this all comes down to just calling a single command just l

[2021-10-02 13:02] niosus commented on #758
Ok, the only weird thing I see is this:
[code]
which points me to this: is there something different in how CMake generates a compilation database on Windows as opposed to Linux or mac?

Could you also provide a compilation database file that gets generated as the result?
The one for the build above is found here:
[code]

[2021-10-02 15:21] niosus commented on #445
I'm lazily working on this now. Basically, we will have to add another setting like "use WSL" or smth. This way, sublime text installed on Windows would be able to use all the tools installed on WSL, like clang, cmake etc. This essentially requires only the following things to be implemented:
- add `wsl` before every command, which is really easy to do
- make all the paths be unix-style. This is p

[2021-10-02 18:47] ellipticaldoor commented on #759
Sorry for filling the template. In the end I managed to get the error rid by doing this:

[code]

[2021-10-02 19:00] ellipticaldoor commented on #758
Uhm it could be, I found some small differences between clang from apple and clang from mingw.

I attached here the compile_commands.json file

[compile_commands.zip](https://github.com/niosus/EasyClangComplete/files/7272039/compile_commands.zip)

[2021-10-03 11:31] InfRandomness commented on #713
It should work, but right now it isn't.
Here is the content of my compile_commands.json :
[code]
and here is the content of my .sublime-project
[code]
The problem is that ECC is failing to find the Repository.hxx file in the include/ directory from the project root

[2021-11-15 21:36] evstigneevnm commented on #746
I found way how to reproduce this annoying problem, but it is like scratching left ear with the right hand.
1. clone a project that uses CMakeLists.txt int a subfolder, i.e. i used a clean clone of the project i'm currently working with:
`git clone https://github.com/NVIDIA/AMGX.git ./amgx/`
2. In the current folder create a sublime project file, i.e.
`{    "folders":        {  "amgx",  ["backup"]

[2021-12-05 10:06] niosus commented on #758
Sorry for the long silence. Looking at the compile commands file, I don't understand where the flags that start with `@` come from in it. Is it a windows-related thing with CMake? I would have to read up on this to understand how to handle these situations.

[2021-12-05 10:15] niosus commented on #758
Ok, after some googling, it seems it is a workaround on CMake side to avoid too many command flags on Windows. It packs them into the response files and then passes these files into the compilation. One solution, as seen in https://github.com/microsoft/vscode-cpptools/issues/1718#issuecomment-387678409 is to parse that file and copy its contents as flags to the command that we construct within the

[2021-12-19 14:43] niosus commented on #752
Ok, so I just ended up adding the `arch` flag to "separable" flags and could runt the plugin on the M1 Mac. The PR with the change is here #761. Please reopen if the issue persists with the new release that is about to land in the next hour.

[2021-12-19 14:43] #752 closed

[2022-01-08 02:48] ellipticaldoor commented on #758
Sorry, I don't have a window machine anymore, I will in a couple of months

[2022-01-08 16:40] ellipticaldoor opened #763 "TypeError: argument of type 'NoneType' is not iterable on macos m1"
# System info: #
- Sublime Text version: Build 4126
- Which system are you on: macos montery 12.1
- Clang version: Apple clang version 13.0.0 (clang-1300.0.29.30)

# What happens:  #
I'm not sure why but EasyClangComplete suddenly stopped working, and now I'm getting the following error when trying to use it.

I completely cleared sublime text cache and plugins, and just installed EasyClangComplet

[2022-01-08 16:53] ellipticaldoor commented on #763
Downgrading to 6.5.1 solved my issue for now, I think what happened was that package control updated the plugin and now it fails for me with the latest one 6.5.2

[2022-01-09 00:52] #708 closed

[2022-01-09 00:52] #707 closed

[2022-01-10 13:09] niosus commented on #712
This seems to be an easy fix, I think I'll be able to look into this soon. Ping.

[2022-01-10 13:13] niosus commented on #763
This is really strange... :thinking:

Seems the error is this one:
[code]
So it looks like it can't find `cmake`. I have for now no idea why the update to the next version could lead to this. I don't think I touched anything related to this functionality but I will try to check the changelog in case I missed smth. :thinking:

[2022-01-10 22:42] niosus commented on #763
I've compared the releases from here: https://github.com/niosus/EasyClangComplete/compare/6.5.1...6.5.2

I see no changes that could cause this. Could you maybe try to remove your temporary folders in which ECC generates its CMake build, restart Sublime Text and see if the problem persists? It looks like it cannot find CMake, is it available from your command line?

[2022-01-10 22:53] ellipticaldoor commented on #763
Oh I see! I added to config the path to the cmake from homebrew like this:

[code]

And now it works fine. I had to reinstall brew and ui noticed that I had to add the following line to my .zshrc
[code]

So maybe something changed in how homebrew manages the path and sublime text can't find this config.

I will close the issue becuase this is not a problem of EasyClangComplete, thank you very much

[2022-01-10 22:53] #763 closed

[2022-01-10 22:54] ellipticaldoor commented on #763
Maybe this path could be added to the default ones to look for cmake?

[2022-01-10 23:08] niosus commented on #763
Yeah, I might do that eventually. In the end I do aim for the out of the box experience.

[2022-03-23 06:38] fake-name commented on #720
I'm getting this continuously as well.

In my case, I'm working on a source tree that depends on packages that are not present on the machine running sublime, so there's no way for me to make the build *not* fail.

There really needs to be some way to say "Yes, I know this won't fully build on this machine, don't tell me".

[2022-04-16 06:22] #684 closed

[2022-04-16 06:22] #715 closed

[2022-04-16 06:22] #704 closed

[2022-04-16 06:22] #711 closed

[2022-10-28 12:08] ChromedomeV12 opened #769 "Headers are normal but STL keep loading errors"
# System info: #
- Sublime Text version: `Sublime Text 4 Build 4126`
- Which system are you on: `Windows 10`
- Clang version: `15.0.2`

# What happens:  #
Describe your issue here.
I'm from a non-English speaking country, so apologies if my language is inaccurate or not detailed enough.
My issue is similar to that of [#554](https://github.com/niosus/EasyClangComplete/issues/554), however, as you c

[2022-11-16 08:34] niosus commented on #769
Thanks for reporting.

First of all, I have to ask: why do you include the `bits/stdc++.h`. In my understanding that is a very system-specific header to include. If you need a queue, you should instead `#include <queue>`.

Second. In your settings, you provided
[code]
but the last entry should also be prefixed by `-I`. If you don't understand the `-I` flag, I suggest you to figure this out first.